<body class="container">

  <header id="header" class="fixed-top" style="margin-left: -75px;">
    <div class="container-fluid d-flex container">

      <div class="logo mr-auto">
        <a href="https://tablepointer.com"><%= image_tag "", class:"img-fluid ml-5"%></a>
        <a href="https://tablepointer.com"><%= image_tag "logo.svg", class:"img-fluid ml-5", style: "width: 140px; height: 120px;"%></a>
      </div>

      <nav class="nav-menu d-none d-lg-block" style="padding-right: 0px">
        <ul>
          <li class="active"><a href="https://www.tablepointer.com/solutions">Solutions</a></li>
          <li><a href="https://www.tablepointer.com/about-1">About </a></li>
          <li><a href="https://www.tablepointer.com/contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
 
  <main id="main" style="margin-top: 0em;">

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <h2 class="mt-5 ml-5" style="font-family:DM Sans; line-height: 52px; font-size: 30px; font-weight: 700; color: #1A237E;">Calculate how much TablePointer will save you each year</h2>
            <form action="forms/contact.php" method="post" role="form" class="ml-5 mr-5">
       
              <div class="form-group mt-4">
                <label for="name">Average revenue per location:</label>
                <input style="border-color:#969CD7" type="text" class="form-control" name="revenue" id="revenue" placeholder="$1000000" value="$1000000" />
              </div>
              <div class="form-group">
                <label for="name">Number of locations:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="3"  value="3"/>
              </div>
              <div class="form-group">
                <label for="name">Yearly equipment issues/failures:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="2" value="2" />
              </div>
              <div class="form-group">
                <label for="name">Number of manual temperature checks per day:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="4"  value="4"/>
              </div>
              <div class="form-group">
                <label for="name">Pieces of equipment temperature checked:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="4" value="4"/>
              </div>
              <div class="form-group">
                <label for="name">Hourly wage for employee checking temperatures:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="$10"  value="$10"/>
              </div>
              <div class="form-group">
                <label for="name">Monthly electricity bill:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="$4000"  value="$4000"/>
              </div>
              
              <div class="form-group">
                <label for="name">Number of kitchen exhausts:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue"  placeholder="2" value="2"/>
              </div>
              <div class="form-group">
                <label for="name">Number of aircons:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="3" value="3" />
              </div>
              <div class="form-group">
                <label for="name">Number of freezers:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="3" value="3"/>
              </div>

              <div class="form-group">
                <label for="name">Number of chillers:</label>
                <input style="border-color:#969CD7"  type="text" class="form-control" name="revenue" id="revenue" placeholder="3" value="3" />
              </div>
              
        

            </form>
          </div>
          <div style="background-color: #1A237E;" class="col-md-5">
          <div class="mt-5 mx-4">
            <h2 style="color: white; font-size: 17px;">You'll save</h2>
            <h2 style="color: white; font-size: 70px; font-weight: 600; font-family: Work Sans bold;"><strong>$15,111</strong></h2>
            <h2 style="color: white; font-size: 17px;">each year</h2>
            <h2 class="mt-5" style="color: white; font-size: 18px; font-weight: 500; font-family: DM Sans; padding-top: 49px;">Improve your bottom line, while protecting your business and your customers.</h2>
            <h2 class="mt-4" style="color: white; font-size: 18px; font-weight: 500; font-family: DM Sans; padding-top: 19px;">TablePointer saves you thousands each year by:</h2>
            <ul class="mt-4">
              <li style="color: white;">
                <h2 class="mt-4" style="color: white; font-size: 18px; font-weight: 500; font-family: DM Sans; padding-top: 18px;">Eliminating product loss resulting from equipment failures, power outages, and human error</h2>
              </li>
              <li style="color: white;">
                <h2 class="mt-4" style="color: white; font-size: 18px; font-weight: 500; font-family: DM Sans; padding-top: 18px;"> Saving valuable employee time spent on daily temperature checks for other tasks</h2>
                </li>
                <li style="color: white;">
                <h2 class="mt-4" style="color: white; font-size: 18px; font-weight: 500; font-family: DM Sans; padding-top: 18px;"> Preventing equipment downtime by catching issues before they happen and avoiding costly last-minute repairs</h2>
              </li>

            </ul>

            <div  class="text-center mt-5"><a href="https://www.tablepointer.com/contact-us" type="button" style="background-color: #FF6F00; border: 0px; color: white; font-family: Work Sans; font-size: 18px; font-weight: 600;" class="px-5 py-3">Start saving today</a></div>
          </div>
        </div>


      </div>
    </section>
  </main>
  <style>
    
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  color: #1A237E;
}

a:hover {
  color: #1A237E;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}


@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

}

.unit {
  position: absolute;
    display: block;
    left: 24px;
    top: 16px;
    z-index: 9;
    color: rgba(25,40,63,.8);
    font-size: 16px;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #1A237E;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 15px;
}
label {
  font-family: "DM Sans";
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #1A237E;
  padding: 10px 47px;
  transition: 0.3s;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #1A237E;
  text-decoration: none;
}

.nav-menu .get-started a {
  background: #1A237E;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
}

.nav-menu .get-started a:hover {
  background: #ee7843;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3c1300;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #1A237E;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: white;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #1A237E;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #1A237E;
  text-decoration: none;
}

.mobile-nav .get-started a {
  background: #1A237E;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 10px 25px;
}

.mobile-nav .get-started a:hover {
  background: #ee7843;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #1A237E;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: #1A237E;
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #c2b7b1;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
}

.section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #1A237E;
  bottom: 0;
  left: calc(50% - 30px);
}



.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #1A237E;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #1A237E;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #fef8f5;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #fef8f5;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1A237E;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #c54811;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1A237E;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1A237E;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1A237E;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}

#footer .credits a {
  color: #1A237E;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}

  </style>